h2{
    color: #d32f2f;
    background-color: #ffebee;
    border-radius: 5px;
}
.vyrazny{
    color: #fff;
    background-color: #028cee;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #1976d2;
    font-weight: bold;
}