
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --primarna:#2563eb;
    --primarna-tmava:#1e40af;
    --akcent:#f97316;
    --text-tmavy:#1f2937;
    --text-svetly:#6b7280;
    --pozadie-biela:#ffffff;
    --pozadie-svetla:#f9fafb;

    --medzera-s:1rem;
    --medzera-m:1.5rem;
    --medzera-l:2rem;
    --medzera-x:3rem;

    --font-body:'Montserrat', sans-serif;
    --font-heading: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    font-family: var(--font-heading);
    margin: 0;
}

.header{
    background-color: var(--primarna);
    color: var(--pozadie-biela);
}

.header__logo{
    padding: var(--medzera-s);
}

body{
    color: var(--text-tmavy);
    background-color:  var(--pozadie-biela);
    font-family: var(--font-body);
}

