body{
margin: 0 auto;
width: 800px;
background-color:#dbeafe ;
}
h1{
    text-align: center;
    color:#0369a1 ;
    padding: 30px;
    border: 3px solid #0ea5e9;
    margin: 30px;
    background-color:#e0e7ff;
}
.h2{
    border-left: solid #14b8a6;
    color: #0891b2;
    margin: 30px;
    padding-left: 10px;
}
.h2-podciarknute{
    border-left: solid #14b8a6;
    color: #0891b2;
    margin: 30px;
    padding-left: 10px;
    text-decoration: underline;
}
.text-1{
    padding: 50px;
    border: 3px dotted #fb923c;
    margin: 30px;
    background-color: #ffedd5;
    color: #dc2626;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', serif,;
    font-style: italic;
    line-height: 1.6;
}
.text-2{
    text-align: justify;
    font-family: 'Tahoma', sans-serif;
    margin: 30px;
}
.text-3{
    margin: 30px;
    text-align: left;
    line-height: 1.6;
    font-family: 'Georgia', serif;
    word-spacing: 5px;
    color: #0ea5e9;
}
.text-4{
    margin: 30px;
    text-align: justify;
    font-family: 'Tahoma', sans-serif;
    line-height: 2;
}
.text-5{
    margin: 30px;
    text-align: justify;
    font-family: font-family 'Segoe UI', sans-serif;;
}
.lorem{
    margin: 30px;
    text-align: right;
    padding-right: 30px;
}
span.mesto{
    color: #1d4ed8;
    font-weight: bold;
}
span.ludia{
    color: #be123c;
    font-weight: bold;
}
span.peniaze{
    color:#9333ea ;
    background-color:#fef3c7 ;
    font-weight: bold;
}
span.rim{
    color:#16a34a ;
    text-decoration: line-through;
    font-weight: bold;
    text-transform: uppercase;
}
span.doprava{
    color:#16a34a ;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase ;
}
span.restaurant{
    color: #fb923c;
    font-style: italic;
    font-weight: bold;
}
span.pocity{
    color: #a855f7;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    background-color:#fef3c7 ;
}