body{
margin: 0 auto;
width: 800px;
}
h1{
    text-align: center;
    color:#0369a1 ;
    padding: 30px;
    border: 3px solid #0ea5e9;
    margin: 30px;
    background-color: #dbeafe;
}
.h2{
    border-left: solid #14b8a6;
    color: #0891b2;
    margin: 30px;
    padding-left: 10px;
}
.h2-podciarknute{
    border-left: solid #14b8a6;
    color: #0891b2;
    margin: 30px;
    padding-left: 10px;
    text-decoration: underline;
}
.text-1{
    padding: 50px;
    border: 3px dotted #fb923c;
    margin: 30px;
    background-color: #ffedd5;
    color: #dc2626;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', serif,;
    font-style: italic;
    line-height: 1.6;
}
.text-2{
    text-align: justify;
    font-family: 'Tahoma', sans-serif;
    margin: 30px;
}
.text-3{
    margin: 30px;
    text-align: justify;
    line-height: 1.6;
    font-family: 'Georgia', serif;
    word-spacing: 5px;
    color: #0ea5e9;
}
.text-4{
    margin: 30px;
    text-align: justify;
    font-family: 'Tahoma', sans-serif;
}
.text-5{
    margin: 30px;
    text-align: justify;
}